.container{
    width:100;
    max-width:100%;

  }
/* First page Styling */
.firstPara span{
  display:block;
  margin-top: 10px;
}
button{
  display: block;
  width: 100%;
  
}
.illustration{
  height:300px
}
.logo{
  width:100px;
}
.Content1{
  background-color: #e9ecef;
}
.Content2{
  background-color: #ffffff;
}
.img1{
  width:100px;
  height: 100px;
}
/* page2,3,4 styling */
